@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
* {
  box-sizing: border-box ;}
body {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}
ul {
    padding-left: 20px;
    list-style-type: none;
    display: flex;  
    flex-direction: row;
}
li {
    padding :10px;
}
.section1 {display: block;}
.title {
    margin-bottom: 40px;
    margin-left: 20px;
}
.name {
    font-size: small;
    float: right;
    padding-right: 100px;
}
.section1 img {
    float: left;
    max-width: 350px;
    max-height: 350px;
  padding: 10px;
}
.info {
padding: 10px;
padding-top: 50px;
}